[Unit]
Description=File Hosting Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/server.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
